<!-- 首尾嵌入自製的ejs模板 -->
<%- include('../partials/header.ejs'); %>
    <div class="container">
        <div class="row">
            <% campgrounds.forEach(function(camp){  %>
			<div class="col-md-4 col-sm-6">
                <img src="<%=camp.image%>" alt="campgroundPhoto" class="img-fluid">
                <p class="my-2"><%= camp.name%></p>
                <p class="my-2"><%= helper.text_truncate(camp.description, 100)%>...</p>
				<div>
					<a class="btn btn-outline-primary btn-sm" href="/campgrounds/<%=camp._id%>">Read More</a>
				</div>
            </div>
			
			<% }) %>
        </div>
    </div>
	
<%- include('../partials/footer.ejs'); %>

