<!-- 首尾嵌入自製的ejs模板 -->
<%- include('../partials/header.ejs'); %>
	<div class="container">
		<div class="row justify-content-center">
			
			<form action="/campgrounds/<%=campground._id%>?_method=put" method="post" class="col-md-6 text-center">
				<h1>
				Edit <%= campground.name%>.
				</h1>
				<div class="form-group mb-0">
					<input name="campground[name]" class="form-control mb-2" type="text" value="<%=campground.name%>">
					<input name="campground[image]" class="form-control mb-2" type="url"  value="<%=campground.image%>">
					<textarea name="campground[description]" class="form-control mb-2" type="text" rows="8"><%=campground.description%></textarea>
					
				</div>
				<div>
					<button type="submit" class="btn btn-outline-primary">
							Submit
					</button>
					<button type="reset" class="btn btn-outline-secondary">
							Reset
					</button>
				</div>
			</form>
			
		</div>	
		<div class="row justify-content-center">
					<a href="/campgrounds/<%=campground._id%>" class="col-md-6">Go Back</a>
		</div>
	</div>
<%- include('../partials/footer.ejs'); %>